<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>

RewriteEngine On

# Permitir archivos existentes y directorios reales
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Permitir archivos en las carpetas /image y /video con extensiones específicas
RewriteCond %{REQUEST_URI} ^/(image|video)/.*\.(png|jpg|jpeg|gif|svg|webp|ico|mp4|webm|ogg)$ [NC]
RewriteRule ^ - [L]

# Redirigir todo lo demás a index.html (para SPA)
RewriteRule ^ index.html [QSA,L]

